* {
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.fullpage {
  width: 100%;
  height: auto;
}

.navbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 65px;
  background-color: #F0F0F0;
  transition: top 0.15s ease-in-out;
  line-height: 65px;
  -webkit-box-shadow: 0px 2px 22px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 22px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 22px -5px rgba(0, 0, 0, 0.75);
}



.navbar li a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #545454;
  font-weight: 600;
  transition: .3s;
}
.navbar li:hover a {
  color: white;
}

nav ul {
  display: flex;
  width: 100%;
  list-style-type: none;
}

nav ul li {
  flex: 1 1 100%;
  flex-basis: auto;
}

#mob{
  display: none;
}
#menu{
  display: none;
}
/*-----------------------------*/

 #menuToggle
{
  display: block;
  /* position: relative; */
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 1500;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;

}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  color: #fff;
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
  color: white;
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
  color: white;
}


#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  text-align: center;
  background: #2980b9;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-box-shadow: 0px 0px 26px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 26px -6px rgba(0,0,0,0.75);
box-shadow: 0px 0px 26px -6px rgba(0,0,0,0.75);
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
#menu li a{
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Neucha';
  color: white;
  text-decoration: none;
}

#menuToggle input:checked ~ ul
{
  transform: none;

}

/**********************************************/


/* ------ fullscreen ----------------*/

.fullscreen {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
  /* padding-top: 65px; */
  /* background-image: url(/img/fullscreen.jpg);
  object-fit: cover; */
}

.bg-picture {
  background-image: url("/img/fullscreen.jpg");
  background-size: cover;
  background-position: center;
  /* object-position: center; */
  width: 100%;
  height: 100vh;
  display: block;
  position: absolute;
  z-index: 2;
  filter: brightness(60%);
}

.fullscreen-heading {
  width: 100%;
  height: calc(100vh - 65px);
  flex-flow: column nowrap;
  justify-content: center;
  display: flex;
  position: absolute;
  z-index: 4;
  margin-top: 65px;
}

.fullscreen-heading-container {
  margin: auto;
  padding-top: 65px;
}

.fullscreen-heading input {
  height: 50px;
  display: block;
  margin: 0 auto;
  padding: 0 30px;
  -webkit-border-radius: 5px;
  border-radius: 20px;
  border: 0;
  background-color: #005DAE;
  color: white;
  transition: .3s;
  -webkit-box-shadow: 0px 0px 56px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 56px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 56px -15px rgba(0, 0, 0, 0.75);
}

.fullscreen-heading input:hover {
  background-color: #FE1321;
}

/* .myButt {
	outline:none;
	border:none;
	padding:20px;
	display:block;
	margin:50px auto;
	cursor:pointer;
	font-size:20px;
  background-color: #005DAE;
	position:relative;
	transition: all 0.3s ease;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 56px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 56px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 56px -15px rgba(0, 0, 0, 0.75);
} */

.clicky {
  /** Offset the Position **/
  position: relative;
  top: 0;
  margin-top: 0;
  /** 3D Block Effect **/
  box-shadow: 0 5px 0 0 #273c75;
  margin: 50px auto;
  /** Make it look pretty **/
  display: block;
  background: #005DAE;
  color: #eee;
  padding: 1em 2em;
  border: 0;
  cursor: pointer;
  font-size: 1.2em;
  opacity: 0.9;
  border-radius: 10px;
}

.clicky:active {
  /** Remove 3D Block Effect on Click **/
  box-shadow: none;
  top: 10px;
  /* margin-bottom: 0; */
}

.clicky:hover {
  opacity: 1;
}

.clicky:active, .clicky:focus {
  /** Remove Chrome's Ugly Yellow Outline **/
  outline: 0;
}

.four {
  overflow: hidden;
}

.four span {
  color: #fff;
  display: inline-block;
  transition: all 0.3s ease;
}

.four .icon {
  position: absolute;
  left: -70px;
  top: 0;
  color: #fff;
  padding: 20px;
  background-color: #FE1321;
  transition: all 0.3s ease;
  ;
}

.icon img {
  width: 25px;
  height: 25px;
  display: block;
  object-fit: cover;
}

.four:hover .icon {
  left: 0px;
}

.four:hover span {
  color: white;
  margin-left: 50px;
}

.header-logo {
  width: 100%;
  height: 110px;
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 5;
  margin-top: 65px;
}

.fullscreen-heading h1 {
  text-align: center;
  color: white;
  font-size: 60px;
}

.fullscreen-heading p {
  text-align: center;
  color: white;
  width: 100%;
  margin-bottom: 30px;
  font-weight: 600;
}

.fullscreen-heading-parthner {
  width: 100%;
  height: 100px;
  margin-bottom: 50px;
}

.fullscreen-heading-parthner-left {
  height: 100px;
  width: 50%;
  float: left;
  padding-right: 30px;
  box-sizing: border-box;
}

.fullscreen-heading-parthner-left img {
  float: right;
}

.fullscreen-heading-parthner-right {
  height: 100px;
  width: 50%;
  float: right;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.fullscreen-heading-parthner-right h1 {
  font-size: 18px;
  display: inline-block;
  float: left;
  margin-top: 20px;
}

.fullscreen-heading-parthner-right h2 {
  font-size: 18px;
  display: inline-block;
  width: 100%;
  float: left;
  font-size: 30px;
  color: white;
}

.left-logo {
  width: 300px;
  height: 110px;
  float: left;
  margin-left: 30px;
}

.left-logo img {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.right-logo {
  width: 250px;
  height: 110px;
  float: right;
  position: fixed;
  bottom: 0;
  right: 30px;
  top: 65px;
  z-index: 11;
  border-radius: 5px;
  transition: .3s;
}

.right-logo-icon {
  width: 50px;
  height: 110px;
  float: left;
  display: flex;
  align-items: center;
}

.right-logo-icon img {
  float: left;
  width: 50px;
}

.right-logo-phone {
  width: 200px;
  height: 110px;
  float: left;
  box-sizing: border-box;
  font-family: 'Open sans', sans-serif;
}

.right-logo-phone h1 {
  color: white;
  font-size: 16px;
  text-align: right;
  margin-right: 25px;
  margin-top: 25px;
}

.right-logo h2 {
  font-size: 20px;
  text-align: left;
  color: white;
}

/* ----------- content-1 -----------------*/

.hideme {
  opacity: 0;
}

.content-1 {
  width: 100%;
  background-color: #fff;
}

.content-3 {
  width: 100%;
  background-color: #fff;
  /* background-image: url("../img/about.jpg");
  background-position: center;
  background-size: cover; */
}

.content-3 img {
  position: relative;
  z-index: 2;
  width: 50%;
  display: block;
}

.content-3 h1 {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.content-3 p {
  padding: 20px 30px 0 20px;
  display: inline-block;
}

.content-3 .container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.content-3 .description {
  display: flex;
  height: 400px;
  flex-flow: column;
  align-items: center;
  /* background-image: url('../img/childtest.png');
  background-position: center;
  background-size: cover; */
}

.content-1-cels {
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding-top: 15px;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.content-cell {
  width: 280px;
  height: 220px;
  display: inline-block;
  margin: 5px;
  max-width: 20%;
}

.content-cell-ico {
  width: 100%;
  height: 150px;
  border-radius: 50%;
  border-radius: 2px solid red;
}

.content-cell-ico img {
  width: 130px;
  padding-top: 10px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.content-cell-text {
  width: 100%;
  height: 110px;
  background-color:
}

.content-cell-text h1 {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.content-cell-text p {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding: 5px 10px;
  color: #545454;
}

.content-1 h1 {
  width: 100%;
  text-align: center;
}

.heading {
  font-family: 'Neucha', cursive;
  font-size: 6vw;
  letter-spacing: 3px;
  width: 100%;
  text-transform: uppercase;
}

.heading span {
  transition: .25s;
}

.heading span:hover {
  color: white;
}

.subheading {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

@media screen and (min-width: 40em) {
  .heading {
    font-size: 3.5vw;
  }
  .subheading {
    font-size: 1.75vw;
  }
}

/*================================================
Start Important Part
==================================================*/

.underline--magical {
  background-image: linear-gradient(120deg, #e74c3c 0%, #3498db 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.1em;
  /* background-position: 0 88%; */
  transition: background-size 0.25s ease-in;
}

.underline--magical-2 {
  background-image: linear-gradient(120deg, #e74c3c 0%, #3498db 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.25em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}


.underline--magical:hover {
  background-size: 100% 100%;
}

.underline--magical-2:hover {
  background-size: 100% 100%;
  transition: .25s;
  color: #fff;
}

/* ----------- content-2 -----------------*/

.content-2 {
  width: 100%;
  background-color: #f9f9f9;
  padding-top: 20px;
}

.content-2 h1 {
  width: 100%;
  text-align: center;
}

.content-2 p {
  padding: 15px 50px;
  font-size: 20px;
}

.content-2 p i {
  padding: 10px;
  color: #1491D1;
}

.content-2 .slider2 {
  position: relative;
}

.content-2 .slider2 .arrowsSlider2 {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

.content-2 .square-tiles-holder {
  width: 90%;
  height: 350px;
  /* background-color: Yellow; */
  display: flex;
  flex-flow: row wrap;
  position: relative;
  margin: 0 auto;
}

.content-2 .square-tiles-holder .slick-list {
  width: 100%;
}

.content-2 .square-tiles-holder .square-tile {
  height: 330px;
  line-height: 330px;
  /* border: 2px solid red; */
  object-fit: cover;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}

.content-2 .square-tiles-holder .square-tile .square-tile-description {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
}

.content-2 .square-tiles-holder .square-tile img {
  display: block;
  /* width: 100%; */
  height: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  position: absolute;
}

.content-2 .square-tiles-holder .square-tile h1 {
  width: 100%;
}

.headingless {
  font-size: 2em;
}

/* #hotel{
  background-image: url('../img/squaretiles/hotel.jpg');
}
#restaurant{
  background-image: url('../img/squaretiles/restaurant.jpg');
}
#field{
  background-image: url('../img/squaretiles/field.jpg');
}
#playground{
background-image: url('../img/squaretiles/playground.jpg');
}
#pool{
  background-image: url('../img/squaretiles/pool.jpg');
}
#lounge{
  background-image: url('../img/squaretiles/lounge.jpg');
}
#park{
  background-image: url('../img/squaretiles/park.jpg');
} */

.content-4 {
  width: 100%;
  height: 350px;
  background-color: #f9f9f9;
}

.content-4 h1 {
  width: 100%;
  text-align: center;
}

.content-4-program {
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: absolute;
  z-index: 3;
  font-family: 'Neucha', cursive;
}

.content-4-program-title h1 {
  position: absolute;
  z-index: 4;
  top: 20%;
  font-size: 40px;
  color: white;
}

.content-4-program-title p {
  position: absolute;
  z-index: 4;
  top: 40%;
  font-size: 30px;
  text-align: center;
  color: white;
  font-family: 'Neucha', cursive;
  padding: 0 70px;
}

.content-4-program img {
  filter: brightness(35%);
  width: 100%;
  min-height: 350px;
}

.content-4 .content-4-program-title p {}

.schedule-date-container {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row nowrap;
}

.dates-container {
  display: flex;
  background-color: #c0392b;
  flex-direction: column;
  width: 50%;
  text-align: center;
  padding-top: 20px;
  color: white;
}

.dates-container h1 {
  font-family: 'Neucha', sans-serif;
}

.dates-container ul {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 30px;
}

.dates-container ul li {
  padding: 10px 0;
}

.dates-container p {
  padding-bottom: 30px;
}

.schedule-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  padding-top: 20px;
  background-color: #2980b9;
  color: white;
  /* background-image: url('../img/clipboard.svg');
  background-position: center,;
  background-size: cover; */
}

.schedule-container h1 {
  font-family: 'Neucha', sans-serif;
}

.schedule-container ul {
  padding: 5px 0 0 20%;
  font-family: 'Open Sans', sans-serif;
}

.schedule-container ul li {
  padding: 5px 0;
  list-style-type: none;
  text-align: left;
}

.price-docs-container {

  padding-top: 15px;
  width: 100%;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.price-docs-container h1 {
  font-family: 'Neucha', sans-serif;
  font-size: 40px;
}

.price-docs-container p {
  font-size: 25px;
  padding: 20px 0;
}

.price-docs-container p .green {
  font-size: 35px;
}

.price-docs-container p .red {
  color: red;
  font-size: 35px;
}

.docs-container h1 {
  font-size: 30px;
  font-family: 'Neucha';
}

.docs-container ul {
  padding: 0 0 0 45%;
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
}

.docs-container ul li {
  font-size: 15px;
  padding: 5px 0;
  text-transform: uppercase;
  text-align: left;
  font-weight: 600;
}

.docs-container ul li i {
  color: #3199DC;
  margin-right: 5px;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.left-info {
  width: 50%;
}

.right-form {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.right-form h1 {
  text-align: center;
  font-size: 30px;
  color: #fff;
  font-family: 'Neucha';
}

.user-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
}

.user-info input {
  padding: 15px 10px;
  margin-top: 5px;
  border: none;
  border-radius: 2px;
  font-family: 'Neucha';
  font-size: 15px;
}

.user-info input:focus {
  outline: none;
}

.user-info button {
  font-family: 'Neucha';
  padding: 10px 0;
  letter-spacing: 2px;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 10px;
  background-color: #e74c3c;
  border: none;
  color: white;
  transition: .3s;
  border-radius: 3px;
  transition: .3s;
  /* border: 1px solid #fff; */
  -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.75);
}

#site-content {
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0px 10px 18px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 18px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 18px -8px rgba(0,0,0,0.75);
}

#site-footer {
  height: 400px;
  padding: 25px 0;
  font-size: 85%;
  background-color: #2980b9;
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../img/footerpattern.png');
  background-position: center;
  background-size: cover;
}

.user-info button:active {
  outline: none;
}

.user-info button:hover {
  background-color: #2ecc71;
  cursor: pointer;
}

.content-1 {
  padding-top: 20px;
}

.content-1-cels {
  padding-bottom: 20px;
}

.slick-dots {
  box-sizing: border-box;
}

.slick-dots li {
  margin: 0 5px
}

.slick-dots li button {
  opacity: 0.5;
  text-indent: 20px;
  overflow: hidden;
  color: transparent;
  border: none;
  display: block;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #000;
  overflow: hidden;
  outline: none;
}

.slick-dots .slick-active button {
  opacity: 1;
  width: 10px;
  height: 10px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.arrowsSlider {
  display: none;
}

/*------------floating button---------------------*/

.float {
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 60px;
  right: 60px;
  background-color: #f33;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  z-index: 997;
  animation: bot-to-top 1s ease-out;
}

.notactive {
  position: fixed;
  right: 70px;
  padding-bottom: 40px;
  bottom: 80px;
  z-index: 100;
  opacity: 0;
  animation: scale-out 0.3s linear;
  transition: .3s;
}

/* .fly-button ul li a img{
  position: relative;
  width: 55px;
  height: 55px;
  z-index: 996;
} */

/* .pulse{
  width: 80px;
  height: 80px;
  display: block;
  position: fixed;
  z-index: 995;
  border-radius: 50%;
} */

.but-container {
  width: 200px;
  height: 100%;
  margin: 0 auto 0;
}

.pulse-button {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  border: none;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 51, 51, 0.75);
  -moz-box-shadow: 0px 0px 0px 0px rgba(255, 51, 51, 0.75);
  box-shadow: 0px 0px 0px 0px rgba(255, 51, 51, 0.75);
  border-radius: 50%;
  background-color: #f33;
  cursor: pointer;
  -webkit-animation: pulses 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulses 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulses 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
   animation: pulsee 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.pulse-button:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}

@-webkit-keyframes pulsee {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

@-moz-keyframes pulsee {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

@-ms-keyframes pulsee {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

@keyframes pulsee {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

.float img {
  margin: 0 auto;
  display: block;
  width: 70px;
  height: 70px;
  padding: 5px;
  position: relative;
  z-index: 996;
}

.fly-button ul li {
  list-style: none;
  margin-bottom: 10px;
  border-radius: 50px;
}

.fly-button ul li a {
  background-color: #005DAE;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  width: 60px;
  height: 60px;
  display: block;
  position: relative;
  z-index: 996;
}

.fly-button ul:hover {
  visibility: visible !important;
  opacity: 1 !important;
}

.animate {
  position: fixed;
  right: 70px;
  padding-bottom: 40px;
  bottom: 100px;
  z-index: 100;
  opacity: 1;
  transition: .3s;
  animation: scale-in 0.25s linear;
}

a#menu-share+ul {
  visibility: hidden;
}

a#menu-share span img {
  animation: rotate-in 0.3s;
}

a#menu-share:hover img {
  animation: rotate-out 0.3s;
}

@keyframes bot-to-top {
  0% {
    bottom: -40px
  }
  50% {
    bottom: 40px
  }
}

@keyframes scale-in {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-out {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes rotate-in {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-out {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/*--------responsive------------*/

@media(min-width: 768px) {
  .mobileNav input {
    display: none;
  }
  .mobileNav label {
    display: block;
  }
}

@media(max-width: 768px) {
  .left-logo {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 250px;
    float: none;
    margin: 0 auto;
  }
  .content-3 .container {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .pulse-button{
    animation: none;
  }
  .content-3 .description {
    height: auto;
    padding-bottom: 20px;
  }
  .content-3 .description p {
    padding: 10px 100px;
    font-size: 20px;
  }
  .user-info {
    width: 70%;
  }
  .pulse-button {
    animation: none;
  }
  .content-3 img {
    width: 70%;
  }
  .header-logo {
    margin-top: 0;
  }
  .fullscreen-heading-container {
    padding-top: 0;
  }
  .fullscreen {
    /* height: calc(100vh - 40px); */
    /* padding-top: 40px; */
  }
  .navbar{
    display: none;
  }
  #mob{
    display: block;
  }
  #menu{
    display: block;
  }
  .fullscreen-heading .heading {
    font-size: 45px;
  }
  .right-logo {
    display: none;
  }

  /*
  .mobileNav {
    position: absolute;
  }
   .content-1 {
    margin-top: 30px;
  } */
  /* input {
    display: block;
    /* display: none; */
    /* visibility: hidden;
  }
  input+label {
    position: fixed;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 20px;
    z-index: 999;
  }
  input+label span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: #020304;
    transition: .3s;
  }
  input+label span:first-child {
    top: 4px;
  }
  input+label span:last-child {
    top: 16px;
  }
  label:hover {
    cursor: pointer;
  }
  input:checked+label span {
    opacity: 0;
    top: 50%;
  }
  input:checked+label span:first-child {
    opacity: 1;
    transform: rotate(405deg);
  }
  input:checked+label span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
  }
  nav.navbar {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 998;
    transition: .3s;
    overflow: hidden;
  }
  nav.navbar>ul {
    text-align: center;
    position: absolute;
    height: 100%;
    justify-content: space-between;
    flex-flow: column;
  }
  nav.navbar>ul>li {
    opacity: 0;
    transition: .3s;
  }
  nav.navbar>ul>li>a {
    text-decoration: none;
    text-transform: uppercase;
    color: #020304;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    display: none;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 18px;
  }
  input:checked~nav {
    height: 60%;
    display: flex;
  }
  input:checked~nav>ul>li>a {
    display: flex;
  }

  input:checked~nav>ul>li {
    opacity: 1;
    transition-delay: .3s;
    /* display: inline-block; */
    /* vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  input:checked~nav>ul>li:hover {
    background-size: 100% 0.1em;
  }
  input:checked~nav>ul>li:hover a {
    text-decoration: underline;
    color: #000;
  } */
  .content-1 {
    position: relative;
    padding-top: 10px;
  }
  .arrowsSlider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    left: 20px;
    right: 20px;
    z-index: 5;
  }
  .arrowsSlider img {
    cursor: pointer;
    display: block;
  }
  .schedule-date-container {
    flex-direction: column;
  }
  .dates-container {
    width: 100%;
  }
  .schedule-container {
    width: 100%;
  }
}

/* @media (max-width: 767px) {
  body{
    display: none;
  }
} */
